/* CORPO DO CODIGO */

body {
    background-image: url(/static/images/fundo-azul.jpg);
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rodape {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
    width: 100%;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.rodape a {
    text-decoration: none;
    color: rgb(0, 140, 255);
    transition: 300ms;

}

.rodape a:hover {
    color: rgb(0, 255, 255);
    transition: 300ms;
    font-size: 18px;
}

.logo-rodape {
    height: 60px;
    width: auto;
    display: block;
    transition: 300ms;
}

.logo-rodape:hover {
    height: 65px;
    width: auto;
    animation: girar 3s ease-in-out;
}

/*CORPO DA TELA DE LOGIN */

.container-login {

    background: linear-gradient(135deg, #00042cda, #1100ff8e);
    border-radius: 20px;
    height: 350px;
    width: 500px;
    margin: auto;

    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.login-user form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/*INPUTS DA TELA DE LOGIN*/


.login-user input {
    border: solid rgba(255, 255, 255, 0) 1px;
    padding: 20px;
    width: 300px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}

.login-user p {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.342);
    font-size: 14px;
    transition: 300ms;
    width: 600px;
    
}

.login-user p:hover {
    color: rgba(255, 255, 255, 0.945);
    transition: 300ms;
    font-size: 14.5px;
}

.login-user h1 {

    color: white;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 40px;
}

.login-user input:focus {
    background-color: #ffffff;
    transition: 12ms;
    border: solid rgba(255, 255, 255, 0) 1px;
    outline: none;
}

.login-user button {
    border: solid 1px rgba(0, 0, 0, 0);
    width: 150px;
    border-radius: 30px;
    background-color: rgb(0, 132, 255);
    font-size: 14px;
    padding: 22px;
    transition: 300ms;
}

.login-user button:hover {
    background-color: rgba(255, 255, 255, 0.667);
    transition: 300ms;
    font-size: 17px;
}

/*BARRA DE NAVEGACAO 👇*/ 